@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  background-color: #1a1c20;
  filter: invert(100%);
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
p {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  background-color: #1a1c20;
  color: white;
  text-align: left;
  padding: 1px;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
  max-width: 45em;
  margin: 0 auto;
}

div.main,
div.help,
footer {
  animation: intro 0.3s both;
  animation-delay: 0.15s;
}

div.help {
  display: none;
}

div.container {
  max-width: 45em;
  margin: 0 auto;
  padding: 0 1rem;
}

div.container div h1 {
  font-weight: normal;
}

div,
p.indented {
  margin-bottom: 1em;
}

div.section div {
  margin-left: 4em;
}

div.column {
  float: left;
  width: 33.33%;
}

p.indented {
  margin-left: 2em;
}

::selection,
::-moz-selection {
  color: #e5e3df;
  background: #1a1c20;
}

.command,
.argument {
  font-weight: bold;
}

#left-column {
  text-align: left;
}

#center-column {
  text-align: center;
}

#right-column {
  text-align: right;
}
